# Project 1

# Part-1

## About the dataset

Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).

The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.


You are required to do the following:

Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data. (5 points)
Print all the teams which have started playing between 1930-1980. (5 points)
Print the list of teams which came Top 5 in terms of points (5 points)
Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference. (5 points)
Goal_diff_count = GoalsFor - GoalsAgainst

Create a new column with name “Winning Percent” and append it to the data set (5 points)
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

Group teams based on their “Best position” and print the sum of their points for all positions (5 points)
Eg: Best Position                Points

          1                              25000

          2                              7000

###### Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [79]:
# read the data in pandas FROM A CSV
import pandas as pd

df = pd.read_csv("Laliga.csv",skiprows=1,skipinitialspace=False,index_col="Team")
df.replace(to_replace='-',value=0,inplace=True)

###### Print all the teams which have started playing between 1930-1980.

In [80]:
df["StartPlay"]=df['Debut'].str.slice(0,4,1).astype('int64')
df.loc[((df.StartPlay >= 1930) & (df.StartPlay <= 1980)),:]

,Pos,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,StartPlay
Team,,,,,,,,,,,,,,,,,,,,
Valencia,4,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1,1931
Sevilla,6,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1,1934
Zaragoza,9,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2,1939
Real Betis,10,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1,1932
Deportivo La Coruna,11,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1,1941
Celta Vigo,12,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4,1939
Valladolid,13,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4,1948
Sporting Gijon,15,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2,1944
Osasuna,16,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4,1935
Malaga,17,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4,1949
Oviedo,18,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3,1933
Mallorca,19,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3,1960
Las Palmas,20,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2,1951
Granada,22,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6,1941
Rayo Vallecano,23,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8,1977
Elche,24,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5,1959
Hercules,26,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5,1935
Tenerife,27,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5,1961
Murcia,28,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11,1940
Alaves,29,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6,1930
Levante,30,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6,1963
Salamanca,31,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974-75,1998-99,7,1974
Sabadell,32,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4,1943
Cadiz,33,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12,1977
Castellon,35,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4,1941
Cordoba,38,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5,1962
Recreativo,40,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8,1978
Burgos CF,41,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12,1971
Pontevedra,42,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7,1963
Gimnastic,47,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7,1947
Alcoyano,50,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10,1945
Jaen,51,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14,1953
AD Almeria,53,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10,1979
Lleida,55,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16,1950
Condal,58,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16,1956
Atletico Tetuan,59,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16,1951
Cultural Leonesa,60,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15,1955

###### Print the list of teams which came Top 5 in terms of points

In [81]:
dfnew=df.groupby('Team').Points.max().to_frame()
dfnew['Points']=dfnew['Points'].astype(int)
dfnew.sort_values(by=['Points'],ascending=False,inplace=True)
print("Top 5 teams having maximum points \n",dfnew['Points'].head(5))

Top 5 teams having maximum points
 Team
Real Madrid        4385
Barcelona          4262
Atletico Madrid    3442
Valencia           3386
Athletic Bilbao    3368
Name: Points, dtype: int32

###### Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [24]:
def Goal_diff_count(GoalsFor, GoalsAgainst):
    return (GoalsFor - GoalsAgainst)

In [82]:
##Method 1 using function in single row
df['GoalsFor']=df['GoalsFor'].astype(int)
df['GoalsAgainst']=df['GoalsAgainst'].astype(int)
print("Team with maximum goal difference : ",df.apply(lambda x: Goal_diff_count(x['GoalsFor'], x['GoalsAgainst']), axis=1).idxmax())
print("Team with minimum goal difference : ",df.apply(lambda x: Goal_diff_count(x['GoalsFor'], x['GoalsAgainst']), axis=1).idxmin())

Team with maximum goal difference :  Real Madrid
Team with minimum goal difference :  Racing Santander

In [83]:
###Method 2 long way
df['GoalsFor']=df['GoalsFor'].astype(int)
df['GoalsAgainst']=df['GoalsAgainst'].astype(int)
df['GoalDiff']=Goal_diff_count(df['GoalsFor'],df['GoalsAgainst'])
dfnew=df.groupby('Team').GoalDiff.max().to_frame()
dfnew.sort_values(['GoalDiff'],ascending=False,inplace=True)
print("Team with maximum goal difference : ",dfnew.index[0])
dfnew.sort_values(['GoalDiff'],ascending=True,inplace=True)
print("Team with minimum goal difference : ",dfnew.index[0])

Team with maximum goal difference :  Real Madrid
Team with minimum goal difference :  Racing Santander

###### Create a new column with name “Winning Percent” and append it to the data set 
Percentage of Winning = (GamesWon / GamesPlayed)*100
If there are any numerical error, replace it with 0%

In [96]:
df['GamesWon']=df['GamesWon'].astype(int)
df['GamesPlayed']=df['GamesPlayed'].astype(int)
df['PercentageOfWinning']=(df['GamesWon'] / df['GamesPlayed']) * 100
df['PercentageOfWinning'].fillna(0,inplace=True)

###### Print the top 5 teams which has the highest Winning percentage

In [106]:
df.sort_values(['PercentageOfWinning'],ascending=False,inplace=True)
df.iloc[:5,21]

Team
Real Madrid        59.630702
Barcelona          57.241130
Atletico Madrid    47.475134
Valencia           44.557057
Athletic Bilbao    43.772629
Name: PercentageOfWinning, dtype: float64

###### Group teams based on their “Best position” and print the sum of their points for all positions (5 points) Eg: Best Position Points

      1                              25000

      2                              7000

In [229]:
df['BestPosition']=df['BestPosition'].astype(int)
df['Points']=df['Points'].astype(int)
ds_suml1=df.groupby(['BestPosition','Team'])["Points"].sum()
print(pd.concat([ds_suml1.to_frame(),
           ds_suml1.sum(level=0).to_frame()
                 .assign(Team= "Total")
                 .set_index('Team', append=True)])
  .sort_index())

                                  Points
BestPosition Team
1            Athletic Bilbao        3368
             Atletico Madrid        3442
             Barcelona              4262
             Deportivo La Coruna    1814
             Real Betis             1884
             Real Madrid            4385
             Real Sociedad          2573
             Sevilla                2819
             Total                 27933
             Valencia               3386
2            Las Palmas             1020
             Racing Santander       1416
             Sporting Gijon         1389
             Total                  6904
             Villarreal              970
             Zaragoza               2109
3            Arenas                  107
             Espanyol               2792
             Mallorca               1148
             Oviedo                 1174
             Total                  5221
4            Castellon               285
             Celta Vigo             1789
             Malaga                 1314
             Osasuna                1351
             Sabadell                353
             Total                  6563
             Valladolid             1471
5            Cordoba                 230
             Elche                   606
...                                  ...
8            Total                  1134
9            Girona                    0
             Real Burgos              96
             Total                    96
10           AD Almeria               52
             Alcoyano                 76
             Compostela              190
             Eibar                   132
             Total                   450
11           Murcia                  445
             Total                   445
12           Burgos CF               168
             Cadiz                   343
             Total                   511
14           Jaen                     71
             Total                    71
15           Cultural Leonesa         14
             Total                    14
16           Atletico Tetuan          19
             Condal                   22
             Lleida                   40
             Total                    81
17           Extremadura              83
             Leganes                  35
             Numancia                148
             Total                   266
19           Merida                   81
             Total                    81
20           Total                    34
             Xerez                    34

[79 rows x 1 columns]